body{
    text-align: center;
}
h1{
    font-size: 6em;
}
h3{
    font-size: 3em;
}
#btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    padding: 80px 80px;
    margin: 30px 30px;
    border-radius: 10px;
    font-size: 2em;
}
